/* ------ Header Area ------ */

#header{
    box-shadow: 0 0 30px rgba(173, 181, 189, 0.4);
}

#header nav{
    display:flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#header nav a img{
    width:150px!important;
    height: auto;
}

#header nav ul li{
    display:inline-block;
    list-style: none;
    margin: 0 20px;
    color: black;
}

#header nav ul li a{
    color:var(--gray);
    font-size: 14px;
    font-weight: 600;
}

#header nav ul li a:hover{
    text-decoration: none;
    color: var(--black-color);
}

#header nav ul li a:active,:focus{
    color: var(--primary-color);
}

#header button:active,:focus{
    color: var(--white-color);
}

/* ------- Hero -------*/

#hero-area{
    border-bottom: 1px solid #dee2e6;
    
}

#hero-area .row{
    display: flex;
    justify-content: space-between;
    padding: 100px 0;
    min-height: 70vh;
    align-items: center;
}

#hero-area .row .hero-col-1{
    flex-basis: 60%;
}

#hero-area .row .hero-col-1 .hello{
    font-size: 24px;
    color: var(--gray);
    font-weight: 500;
    margin-bottom: 10px;
}

#hero-area .row .hero-col-1 .role{
    font-size: 20px;
    color: var(--dark-gray);
    margin-bottom: 35px;
}

#hero-area .row .hero-col-1 .downloadbtn{
    background-color:var(--gray);
    font-size: 14px;
    color:white;
    font-family: var(--font-head);
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 50px;
    padding: 12px 15px;
    cursor:pointer;
    margin-left: 6px;
}

#hero-area .row .hero-col-1 .downloadbtn:hover{
    background-color:var(--black-color);
}

#hero-area .row .hero-col-1 .social-icons{
    color:var(--primary-color);
    margin-top: 35px;
}

#hero-area .row .hero-col-1 .social-icons i{
    font-size: 18px;
    padding: 8px;
    margin-right: 5px;
    border: 1px solid var(--primary-color);
    border-radius: 50%;
    transition: .3s;
}

#hero-area .row .hero-col-1 .social-icons i:hover{
    background-color: var(--dark-primary-color);
    color:var(--white-color) ;
}

#hero-area .row .hero-col-2{
    flex-basis: 40%;
}

#hero-area .row .hero-col-2 img{
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 50%;
    margin: 0 0 0 50px;
    box-shadow: 0 0 30px rgba(173, 181, 189, 0.4);
}


/* experience */

#experience .row{
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
    align-items: center;
    max-width: 650px;
    margin: auto;
    margin-top: -60px;
    box-shadow: 0 0 30px rgba(173, 181, 189, 0.4);
    border: 1px solid #dee2e6;  
    border-radius: 50px; 
    background-color: white;
    z-index: 999; 
    text-align: center;
}

#experience .row .count{
    border-right: 1px solid #dee2e6; 
    flex-grow: 1; 
}
#experience .row .count:last-child{
    border-right: none; 
}

#experience .row .count h2{
    font-weight: 700;
    margin-bottom: 5px;
}

#experience .row .count p{
    color: var(--dark-primary-color);
}

/* About */

#about .row{
    display: flex;
    justify-content:flex-start;
    padding: 100px 0;
    align-items: center;
}

#about .row .col-1{
    flex-basis: 30%;
}

#about .row .col-2{
    flex-basis: 60%;
}

#about .row .col-1 img{
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 50%;
    margin: 0 50px 0 0;
    box-shadow: 0 0 50px rgba(173, 181, 189, 0.4);
    border: 5px solid var(--primary-color);
}

#about .row .col-2 h2{
    margin-top: 15px;
    margin-bottom: 10px;
}

#about .row .col-2 .role{
    color: var(--gray);
    margin-bottom: 5px;
}

#about .row .col-2 p:last-child{
    margin-top: 13px;
}

#about .row .col-2 span{
    font-weight: 700;
    font-family: var(--font-body);
    display:inline-block;
}

#about .row .col-2 span img{
    display: inline-block;
    width: 30px;
    height: auto;
    margin-bottom: -10px;
}

/* service */

#service{
    padding: 20px 0 100px 0 ;
}

#service .details{
    text-align: center;
}

#service .details h2{
    margin-top: 15px;
}

#service .details p{
    width: 650px;
    display: inline-block;
    align-self: center;
    margin-top: 20px;
}

#service .row{
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin-top: 60px;
}

#service .row .service-card{
    border: 1px solid #dee2e6;
    box-shadow: 2px 3px 10px rgba(206, 212, 218, 0.3);
    padding: 55px 0;
    flex-grow:1;
    margin: 0 15px 0 15px;
    text-align: center;
    background-color: white;
    transition: .3s;
}

#service .row .service-card:hover{
    background-color: var(--primary-color);
    color:var(--white-color);
}

#service .row .service-card p{
    font-size: 20px;
    font-weight: 700;
    color: var(--dark-gray);
}

#service .row .service-card i{
    font-size: 50px;
    color: var(--primary-color);
    margin-bottom: 15px;
    transition: .3s;
}

#service .row .service-card:hover i{
    color: var(--white-color);
}

/* Skills */
/*.skills{
    padding: 20px 0 100px 0 ;
}

.skills .details{
    text-align: center;
}

.skills .details h2{
    margin-top: 15px;
}

.skills .details p{
    width: 650px;
    display: inline-block;
    align-self: center;
    margin-top: 20px;
}

.skills .row{
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin-top: 60px;
}

.skills .row .progress {
    background: #eaf0fc;
    border-radius: 0.2rem;
    height: 3px;
    margin-bottom: 30px;
}

.skills .row .progress .progress-bar {
        position: relative;
        height: 100%;
        text-align: left;
}*/

/* footer */

#footer .container{
    display: flex;
    justify-content:space-between;
    align-items: center;
}

#footer{
    padding: 10px 0;
    border-top: 1px solid #eeeded;
}

#footer .social-icons{
    color:var(--primary-color);
}

#footer .social-icons i{
    font-size: 18px;
    padding: 8px;
    margin-right: 5px;
    border: 1px solid var(--primary-color);
    border-radius: 50%;
    transition: .3s;
}

#footer .social-icons i:hover{
    background-color: var(--dark-primary-color);
    color:var(--white-color) ;
}